/* javajam css */
/* Create a list of common colors:
         */


body {background-color: #b6fcc9;
        background-image: url(PersonalWebsite/option4.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #08310f;
        font-family: 'Georgia', serif;}

#wrapper {background-color: #ebfeef;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        min-width: 900px;
	max-width: 1280px;
	box-shadow: 3px 3px 3px #676767;}

/* Styles for the header element selector that configure text color #8C3826, background color #D2B48C, and centered text. */
header {background-color: #94d2a4;
        color: #08310f;
        font-weight: bold;
        text-align: center;
        padding-top: 1px;
        padding-bottom: 1px;}

/* Styles for the h1 element selector that configure 200% line height. */
h1 {font-size: 3em;
        font-weight: bolder;
        color: #08310f;
        font-family: 'Cinzel', serif;}

/* Styles for the h2 element selector that configure #8C3826 text color. */
h2 {font-size: 2em;
        color: #268c39;}

h3, dt {font-size: 1.5em;
        color: #268c39;}

h4 {font-size: 1.2em;
	padding-left: .5em;
	padding-bottom: .25em;}

nav {font-weight: bold;
        color: #268c39;
        text-align: center;
        font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;}

nav a {text-decoration: none;}

nav a:link {color: #268c39;}

nav a:visited {color: #0a5918;}

nav a:hover {color: #2fb156;}


main {display: block;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;}

main a {text-decoration: none;}

main a:link{color: #268c39;}

main a:visited {color: #0a5918;}

main a:hover {color: #2fb156;}

.details {padding-left: 20%;
        padding-right: 20%;}

img {border-style: none;
	max-width: 100%;
	height: auto;}

#RobinOutside {
        height: 370px;
        background-image: url(PersonalWebsite/Robin/Outside.jpg);
        background-repeat: no-repeat;
        background-size: cover;}

/* Styles for the footer element selector that configure background color #D2B48C, small font size (.60em), italics, and centered text. */
footer {background-color: #8cd29b;
        font-size: .60em;
        font-style: italic;
        text-align: center;
        padding-bottom: 1em;
	border-top: 2px solid #268c39;}